<style>
#main{
  margin-top: 12%;
  margin-left: 35%;
  margin-right: auto;
}
p {
  font-size: 15pt;
}
input{
  width: 30px;
  height: 20px;
}
button{
  display: block;
  font-size: 22pt;
  margin-top: 50px;
  margin-right: auto;
  margin-left:12%;
}
</style>

<div id="main">
<% if @result.nil? %>
  <p id="result">Пограйте с сервером в игру «камень, ножницы, бумага»</p>
  <p>выберите ниже</p>
<% elsif %>
 <p> <%= @result %></p>
<% end %>


<%= form_tag game_path do |f| %>

  <%= radio_button_tag(:unit, "камень") %>
  <%= label_tag(:user_unit, "Камень") %>
  <%= radio_button_tag(:unit, "ножницы") %>
  <%= label_tag(:user_unit, "Ножницы") %>
  <%= radio_button_tag(:unit, "бумага") %>
  <%= label_tag(:user_unit, "Бумага") %>


      <button>Играть!</button>

<% end %>
</div>




